<%= javascript_pack_tag 'tooltip' %>
  <section class="fiche">
    <div class = "produit-partiale">
      <% if  result.photo.attached?%>
      <div class = "image"><%= cl_image_tag result.photo.key, height: 180, width: 180, crop: :fill%></div>
      <% end %>
        <div class = "liste">
          <ul>
            <li>
              <h5><%= result.product_name%></h5>
            </li>
            <li>
              <h6>Type de produit: </h6>
              <p class="product_type"><%= result.product_type%></p>
            </li>
            <li>
              <h6>Eco score </h6>
              <p class="product_eco"><%= result.eco_score%> / 100</p>
            </li>
          </ul>
        </div>
    </div>
    <section>
      <div class = "row" data-controller="visibility">
          <%# <button data-action="visibility#showTargets">Show All Elements</button> %>
          <%# <button data-action="visibility#hideTargets">Hide All Elements</button> %>
          <a href ="#options"><button class = "btn-green" data-action = "visibility#toggleTargets">Ce produit repond egalement à d’autres cas d’usage:</button></a>

        <%# <p data-visibility-target="hideable">The Flamboyent Thing #1</p> %>
        <%# <p data-visibility-target="hideable" hidden>The Slightly Stealthy Thing #2</p> %>
        <% result.casesiots.each do |rec|%>
        <div class = "rec col-4">
          <p data-visibility-target="hideable" hidden>
          <%= rec.usecase.name %></p>
        </div>
      <% end %>
      </div>
    </section>
  </section>
