 <%= javascript_pack_tag 'tooltip' %>
 <h2 class = "usecase-header"> Voici la fiche détaillée :</h2>

<section class = "container-product">
  <div class="bimg">
    <% @iotproduct %>
      <% content_for :meta_title, "#{@iotproduct.product_name} is on #{DEFAULT_META["meta_product_name"]}" %>
      <% content_for :meta_description, @iotproduct.description %>
      <%# <% content_for :meta_image, cl_image_path(@iotproduct.photo.path) %>
    <div class="fiche" >
        <div class = "produit d-flex">
          <% if @iotproduct.photo.attached? %>
            <%= cl_image_tag @iotproduct.photo.key, height: 300, width: 400, crop: :fill%>
          <% end %>
          <div class = "liste">
            <ul>
                <li>
                  <h5 class="title-info"><%= @iotproduct.product_name%></h5>
                </li>
                <li>
                  <h6>Type de produit: </h6>
                  <p class="product_type tooltips" ><%= @iotproduct.product_type%></p>
                </li>
                <li>
                  <h6>Constructeur: </h6>
                  <p><%= @iotproduct.constructor %></p>
                </li>
                <li>
                  <h6>Eco score: </h6>
                  <p class="product_eco tooltips" ><%= @iotproduct.eco_score%> / 100</p>
                </li>
                <li>
                  <h6>Ce produit repond egalement à d’autres cas d’usage: </h6>
                  <p><% @iotproduct.casesiots.each do |result|%></p>
                  <p><%= result.usecase.name %></p>
                  <% end %>
                </li>
            </ul>
          </div>
        </div>
        <div class = "description">
          <h6>Description du produit: </h6>
          <p><%= @iotproduct.description%></p>
        </div>
        <div class = "choice d-flex">
          <%= link_to "Revoir les autres recommandations", usecase_path(@casesiot.usecase), class: "btn-green" %>
          <%= link_to "Choisir cette solution", new_casesiot_customer_path(@casesiot), class: "btn-green" %>
        </div>
      </div>
</section>
