<div class = "container d-flex justify-content">
  <ul class="list-group">
    <% @iotproduct %>
      <li class="list-group-iotproduct">
        <h3>product_name</h3>
        <%= @iotproduct.product_name%>
        <h3>product_type</h3>
        <%= @iotproduct.product_type%>
        <h3>constructor</h3>
        <%= @iotproduct.constructor%>
        <h3>description</h3>
        <%= @iotproduct.description%>
        <h5>eco_score</h5>
        <%= @iotproduct.eco_score%>
        <%= cl_image_tag @iotproduct.photo.key, height: 300, width: 400, crop: :fill %>
        <%= link_to "Revoir les autres recommandations", usecases_path(@iotproduct) %>
      </li>
  </ul>
</div>
