<div class = "container">
    <% @iotproduct %>
      <div class="fiche-produit d-flex">
         <%= cl_image_tag @iotproduct.photo.key, height: 300, width: 400, crop: :fill %>
        <ul>
            <li>
            <%= @iotproduct.product_name%>
            </li>
            <li>
            <%= @iotproduct.product_type%>
            </li>
            <li>
            <%= @iotproduct.constructor%>
            </li>
            <li>
            <%= @iotproduct.description%>
            </li>
            <li>
            <%= @iotproduct.eco_score%>
            </li>
        </ul>
      </div>
      <%= link_to "Choisir cette solution", new_casesiot_customer_path(@casesiot) %>
      <em class = "btn"><%= link_to "Revoir les autres recommandations", usecase_path(@casesiot.usecase) %></em>
</div>
