<div class="navbar navbar-expand-sm navbar-light navbar-lewagon ">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= cl_image_tag("https://res.cloudinary.com/mavana/image/upload/v1649247569/CarbonBounty/Logo_Carbon_Bounty_l8ajfq.png", width: 70, height: 40, crop: :fit) %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Carbon Bounty", "/", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Cas d'usages", usecases_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://res.cloudinary.com/mavana/image/upload/v1649247595/CarbonBounty/Ic%C3%B4ne_Carbon_Bounty_tgfh3a.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Cas d'usages", usecases_path, class: "dropdown-item" %>
              <%= link_to "Se deconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
