
<div class="container py-5 containe-customer">
  <div class="row justify-content-center">
    <div class="col-lg-5 m-2">
      <div class="rounded p-3 shadow form-login-green">
        <h4>Creez votre fiche contact pour prendre rendez-vous avec un expert pour vous accompagner</h4>
        <%= simple_form_for([@casesiot, @customer], :defaults => { :input_html => { :class => "text-color bg-white" } }) do |f| %>
          <%= f.input :company_name, label:"Nom de la société" %>
          <%= f.input :address, label: "Adresse de la société"%>
          <%= f.input :phone, label: "Numéro de téléphone" %>
          <%= f.input :contact_first_name, label: "Prénom du contact"%>
          <%= f.input :contact_last_name, label: "nom du contact" %>
          <%= f.input :role, label: "rôle au sein de l'organisation" %>
          <%# <%= f.input :company_type %>
          <%# <%= f.input :siret %>
          <%# <%= f.input :sector %>
          <%= f.submit "Créer la fiche", class: "btn-orange" %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-5 m-2 p-3 shadow d-flex flex-column container-customer">

      <div class="container">
        <h1 class= "title">Fiche Récapitulative</h1>
        <h3 class= "text">Le cas d'usage sélectionné :</h3>
        <h4 class= "text"><%= @casesiot.usecase.name %> </h4>
      </div>
      <div class="container mt-5" >
        <h3 class= "text">Produit IoT sélectionné :</h3>
        <% @casesiot.iotproduct %>
        <p class= "paragraph">Nom : <%= @casesiot.iotproduct.product_name%></p>
        <p class = "paragraph">Type : <%= @casesiot.iotproduct.product_type%></p>
        <p class = "paragraph">Constructeur : <%= @casesiot.iotproduct.constructor%></p>
        <%# <h3>Description</h3> %>
        <%# <%= @casesiot.iotproduct.description%>
        <h5 class = "title-green">Eco_score : <%= @casesiot.iotproduct.eco_score%> /100 </h5>

      </div>
      <div class="mt-auto mb-2">
        <%= link_to "Revoir les autres recommandations", usecases_path(@iotproduct), class: "btn-orange" %>
      </div>
    </div>
  </div>
</div>
