<h1>Usecases#index</h1>
<p>Find me in app/views/usecases/index.html.erb</p>

<div class = "container">
  <h2><%= @usecases.name %></h2>

  <ul class="list-group">
    <% @usecases.each do |usecase| %>
      <li class="list-group-item">
        <h3>Name</h3>
        <%= link_to usecase.name, usecase_path(usecase) %>
      </li>
    <% end %>
  </ul>

<div class="container">

  <%# <%= link_to "Iot Product", usecase_iotproducts_path %> %>
  <%= link_to "Home Page", root_path %>
  <%# <%= link_to "créer un produit Iot",  iotproducts_create_path, class: "btn btn-primary" %> %>

</div>
